<% include ../head %>
<div class="block">
    <div class="container">

        <h4><%- locals.email %></h4>

        <a href="/account/reset" class="btn btn-warning">Reset Password</a>

    </div>
</div>
<% include ../foot %>