<% include ../head %>
<div class="block">
    <div class="container">
        <h3><%- email %></h3>

        <form role="form" action="/account/lost/<%- uid %>" method="post">
            <div class="form-group">
                <label for="newPasswordInput">New password</label>
                <input type="password" class="form-control" id="newPasswordInput" name="newPasswordInput"
                       placeholder="Enter new password">
                <label for="confirmNewPasswordInput">Confirm new password</label>
                <input type="password" class="form-control" id="confirmNewPasswordInput" name="confirmNewPasswordInput"
                       placeholder="Confirm new password">
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>
<% include ../foot %>