table {

  @border-color: #3F4059;

  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;

  //border-collapse: collapse;
  border-spacing: 0;

  border: 1px solid #3F4059;
  border-radius: 4px;

  thead {
    margin: 0;
    padding: 0;
  }

  th,
  td {
    padding: 8px;
    border: 1px solid @border-color;
  }

  th {
    font-weight: 400;
  }

  td {
    color: @white;
  }

  &.responsive {

    @media (max-width: @breakpoint) {

      border: none !important;
      //
      &, thead, tbody, th, td, tr {
        display: block;
      }

      //
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        display: none;
      }

      //
      td {
        //border-bottom: none;
        text-align: center;
      }

      //
      //table .button {
      //  width: 100%;
      //}
      //
      tr {
        border-radius: 4px;
        border: 1px solid @border-color;
        margin-bottom: 20px;
        padding: 8px;
      }

      //
      //th:first-child, td:first-child {
      //  padding: 12px 15px;
      //}
      //
      //.button.icon.remove-from-cart {
      //  padding: 0 40px;
      //  width: auto;
      //}

    }
  }
}