<% include head %>


<div class="block blue">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <img class="img-responsive center-block" src="/img/icons/packman.png">

                <h1>Something went wrong <b>:(</b></h1>

                <% if (typeof message !== 'undefined') { %>
                <h2><b>"<%- message %>"</b></h2>
                <% } %>

            </div>
        </div>
    </div>
</div>

<% include foot %>
