<% include ./head.ejs %>
<div class="container">

    <h1 class="center big">Error</h1>

    <% if(typeof error != 'undefined'){ %>
    <div class="well code error">
        <span class="center"><%- error %></span>
    </div>
    <a href="mailto:wookoouk@gmail.com?subject=I found a bug with RUUP&body=<%- encodeURI(error) %>"
       class="button primary center" target="_blank"><span data-icon="&#xe010;"></span> Report
        this
        bug</a>
    <% } else { %>
    <p class="center">Something happened... Something bad...</p>
    <% } %>

</div>

<% include ./foot.ejs %>