<!--<div class="block smoke">-->
<!--<div class="container">-->

<!--</div>-->
<!--</div>-->
<!--<footer>-->
<!--<p>Created by Martin Page and Ghanashyam Rallapalli of <a href="#">TEAM MACLEAN</a></p>-->
<!--</footer>-->
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/headroom.js/dist/headroom.min.js"></script>
<script src="/components/headroom.js/dist/jQuery.headroom.min.js"></script>
<script src="/components/chartist/dist/chartist.min.js"></script>
<script src="/components/moment/min/moment.min.js"></script>
<script src="/js/main.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    _paq.push(['setTrackerUrl',  'https://api-8c7010c8b4d19059d155481f3c8de6b2.oasis.sandstorm.io']);
    _paq.push(['setSiteId', 1]);
    _paq.push(['setApiToken', 'Q_fZXLreabwHxgVU3YytaDIPW1c-c44BGsfiiMosmnx']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://ijotue6mf8wpldqbraqg.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code --

</body>
</html>
