<!--<div class="block smoke">-->
<!--<div class="container">-->

<!--</div>-->
<!--</div>-->
<!--<footer>-->
<!--<p>Created by Martin Page and Ghanashyam Rallapalli of <a href="#">TEAM MACLEAN</a></p>-->
<!--</footer>-->
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/chartist/dist/chartist.min.js"></script>
<script src="/components/moment/min/moment.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
