<% include ./head-no-nav.ejs %>

<nav>
    <div class="container">
        <a href="/" class="brand">
            <img src="/logo.svg">
        </a>

        <!--<div class="links">-->
        <!--<a href="/me">Monitors</a>-->
        <!--<a href="/"></a>-->
        <!--<a href="/"></a>-->
        <!--<a href="/"></a>-->
        <!--</div>-->


        <div class="user">
            <% if(locals.signedInUser){ %>
            <a href="#TODO">
                <img src="<%- locals.signedInUser.icon %>">
            </a>
            <% } else { %>
            <a href="/signin">Sign in</a>
            <% } %>
        </div>

    </div>
</nav>