<% include ./head-no-nav.ejs %>

<nav>
    <div class="container">
        <a href="/" class="brand">
            <img src="/logo.svg">
        </a>

        <div class="links">
            <a href="/me">Monitors</a>
            <a href="/">TODO</a>
            <a href="/">TODO</a>
            <a href="/">TODO</a>
        </div>

        <% if(locals.signedInUser){ %>
        <img src="<%- locals.signedInUser.icon %>">
        <% } %>

        <div class="user">

        </div>
    </div>
</nav>