<% include ./head-no-nav.ejs %>

<nav>
    <div class="container">
        <a href="/" class="brand">
            <img src="/logo.svg">
        </a>

        <div class="links">
            <a href="/me">Monitors</a>
            <!--<a href="/">Test</a>-->
            <!--<a href="/">Test</a>-->
            <!--<a href="/">Test</a>-->
        </div>
    </div>
</nav>