<% include head.ejs %>

<div class="container">

    <h1 class="center">RUUP</h1>

    <p class="center">RUUP is in development, if you wish to use it, feel free but you WILL loose data!.</p>

</div>

<% include foot.ejs %>
