<% include head %>


<div class="block blue">
    <div class="container">
        <div class="row centered">

            <div class="col-lg-12">
                <h1>Welcome To <b>RUUP</b></h1>

                <img class="img-responsive center-block" src="/img/logo.png">

                <h3>Site uptime tracking.</h3>
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="container">
        <div class="row centered">
            <div class="col-md-6">
                <img src="/img/icons/eye.png">

                <h3>Keep an eye on things</h3>

            </div>
            <div class="col-md-6">
                <img src="/img/icons/clock.png">

                <h3>24/7</h3>

            </div>
        </div>
    </div>
</div>

<% include foot %>
