<% include head.ejs %>

<div class="container">

    <table class="responsive">
        <thead>
        <tr>
            <th>Site</th>
            <th>URL</th>
            <th>Uptime</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Google</td>
            <td>google.com</td>
            <td><span class="graph" style="width:80%">80%</span></td>
        </tr>
        <tr>
            <td>Facebook</td>
            <td>facebook.com</td>
            <td><span class="graph red" style="width:29%">29%</span></td>
        </tr>
        <tr>
            <td>Twitter</td>
            <td>twitter.com</td>
            <td><span class="graph" style="width:62%">62%</span></td>
        </tr>
        <tr>
            <td>Twitter</td>
            <td>twitter.com</td>
            <td><span class="graph red" style="width:36%">36%</span></td>
        </tr>
        <tr>
            <td>Twitter</td>
            <td>twitter.com</td>
            <td><span class="graph red" style="width:60%">60%</span></td>
        </tr>
        </tbody>
    </table>

    <div class="pull-right">
        <a href="#" class="button icon success">+</a>
    </div>


</div>

<% include foot.ejs %>