@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,700);

.navbar-inverse {
    background-color: #34495E;
    border: none;
    font-weight: 600;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    border: none;
}

.navbar-inverse .navbar-toggle {
    /*margin-top: 18px;*//*FAT NAV*/
    /*margin-bottom: 18px;*/
    background-color: #34495E;
    border-color: #1ABC9C;
}

.navbar-inverse .navbar-toggle {
    /*margin-top: 18px;*//*FAT NAV*/
    /*margin-bottom: 18px;*//*FAT NAV*/
    background-color: #34495E;
    border-color: #1ABC9C;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #2C3E50;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #1ABC9C;
}

.navbar-inverse .navbar-nav > li > a {
    color: #BDC3C7;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #2C3E50;
}

.dropdown-menu {
    background-color: #ECF0F1;
}

.navbar-brand {
    /*margin-top: 20px;*//*FAT NAV*/
    /*margin-bottom: 20px;*//*FAT NAV*/
    /*padding: 0 0 0 15px;*//*FAT NAV*/
    /*height: 30px;*//*FAT NAV*/
}

.navbar-brand img {
    height: 100%;
}

#navbar > ul > li > a {
    /*padding-top: 20px;*//*FAT NAV*/
    /*padding-bottom: 20px;*//*FAT NAV*/
    /*line-height: 30px;*//*FAT NAV*/
}

body {
    margin-top: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: #ECF0F1;
    -webkit-font-smoothing: antialiased !important;
    color: #34495E;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

h1.header {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

a {
    transition: color 0.5s ease;
    color: #1ABC9C;
}

a:hover {
    text-decoration: none;
    color: #9B59B6;
}

.centered {
    text-align: center;
}

/*Spacing*/

.block {
    padding-top: 60px;
    padding-bottom: 60px;
}

.block h1 {
    font-size: 70px;
}

.block.blue {
    background-color: #34495E;
    color: #ECF0F1;
}

.block.smoke {
    background-color: #2f2f2f;
}

.block.yellow {
    background-color: #F1C40F;
}

footer {
    padding: 20px 20px 40px;
    text-align: right;
    background-color: #222222;
    color: #ECF0F1;
}

i.red {
    color: #E74C3C;
}

.hideOverflow {
    overflow: hidden;
}

.chartTooltip {
    position: absolute;
    display: inline-block;
    min-width: 5em;
    padding: .5em;
    /*background: #ECF0F1;*/
    color: #34495E;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    z-index: 1;
}
