<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%- locals.monitor.name %> back online</title>
</head>

<body>

<img alt="RUUP Logo" class="center" src="<%- baseURL %>/logo.png"
     style="max-width: 80px; margin-bottom:20px;margin:0 auto;">

<h1 class="center"><%- locals.monitor.name %> came back online at <%- locals.timeDate %></h1>

</body>
</html>