<% include ../head %>
<div class="block">
    <div class="container">

        <h2><%- monitor.name %></h2>

        <h3><%- monitor.url %></h3>

        <h3><%- monitor.rate %></h3>

        <div class="ct-chart"></div>

        <!--<i class="fa fa-trash-o fa-3x red"></i>-->
        <a href="#" class="btn btn-danger">Delete</a>
    </div>
</div>

<% include ../foot %>